section.content-blocks
  .container
    .content-blocks__container
      p.content-blocks__paragraph.
        Create, explore, & collect digital art NFTs.
      h1.content-blocks__heading The new creative economy.
      a.content-blocks__link(href="#") Start your search
